* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightskyblue; 
    font-size: 18px;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    letter-spacing: 0.7px;
}

.header {
    padding-top: 10px;
    color: #000;
}

.title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 38px;
}

.contact-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    justify-items: center;
    padding-bottom: 30px;
}

.contact-info-photo {
    display: block;
    height: 280px;
    width: auto;
    border-radius: 10%;
}

.section-title {
    font-size: 26px;
    margin-bottom: 25px;
}

.section-title::after {
    content: '';
    display: block;
    width: 280px;
    height: 2px;
    background-color: #000;
}

.section-list {
    list-style-type: none;
}

.section-list-item {
    margin-bottom: 18px;
}

.section-list-item > span {
    font-weight: bold;
}

.section-text-paragraph {
    margin-top: 12px;
}

.main {
    width: 85%;
    margin: 0 auto;
    margin-top: 60px;
}

.main-section:last-child {
    margin-left: 0px;
}

.main-section {
    margin-bottom: 50px;
}

.section-order-list {
    margin-left: 20px;
}

.section-order-list-item {
    margin-bottom: 15px;
}

.section-order-list-item ul {
    margin-top: 5px;
    margin-left: 20px;
    list-style-type: square;
}